[data-module="menu"] {
  background: #ccc;
  display: flex;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.menu--item {
  color: #000;
  flex: 1;
  padding: 10px;
  text-decoration: none;
}

.menu--item:hover,
.menu--item--active {
  background: #fc0 !important;

}

.menu--effect {
  height: 42px;
  position: absolute;
  left: 0;
  background: rgba(255, 0, 0, 0.6);;
  top: 0;
  transition: 0.7s;
  border-bottom: solid #6c0101;
  width: calc(100% / 6);
  z-index: -1;
}
