[data-module="menu-simple"] {
  align-content: center;
  display: flex;
  font-weight: 700;
  margin-bottom: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.menu-simple--item {
  color: #000;
  flex: 1;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}
