[data-module="menu-top"] {
  display: flex;
  font-weight: 700;
  position: relative;
  text-align: center;
  text-transform: uppercase;

}

.menu--item {
  cursor: pointer;
  color: #000;
  flex: 1;
  padding: 10px;
  position: relative;
  text-decoration: none;
}

.menu--effect {
  opacity: .7;
  position: absolute;
  z-index: -1;
  background: transparent;
  height: 100%;
  left: 0;
  top: 0;
  border-bottom: solid #000000;
  transition: 0.7s
  cubic-bezier(0.175,0.885, 0.32, 1.275);
  box-shadow: inset 0 -50px 50px -50px;

}

.menu-top--item {
  color: #000;
  flex: 1;
  padding: 10px;
  text-decoration: none;
}

